.bibtex-entry {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    width: calc(100% - 60px);
}

.bibtex-image {
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
}

.bibtex-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bibtex-contents {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.paper-title, .talk-title {
    font-size: 1.1em;
    text-align: justify;
    padding-bottom: 8px;
    border-bottom: 1px solid #bbb;
}

.paper-authors, .talk-type {
    padding-top: 8px;
}

.paper-journal, .talk-venue {
    color: #666;
}

.bibtex-buttons {
    margin-top: 8px;
    display: flex;
    gap: 10px;
}

.bibtex-raw {
    font-size: 0.9em;
    width: 600px;
}

.bibtex-raw pre {
    margin: 0;
}

.btn--bib {
    cursor: pointer;
}
