<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154461992-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-154461992-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
{% include mathjax.html %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=500, initial-scale=1, user-scalable=yes">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>
	<p class="header">{{ site.institution | default:  }}</p>
        {% if site.github.is_user_page %}
        <ul>
          <li><a class="buttons github" href="{{ site.github.owner_url }}">My GitHub Page</a></li>
        </ul>
        {% endif %}
        <img class=header align="center" src="assets/images/LeoWebsite.jpg" width="260">
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <p><small>&copy; 2020, 2021, 2022 Leonardo R. Werneck</small><br></p>
        <p><font size="1">Verbatim copying and redistribution of this entire page are permitted provided this notice is preserved.</font><br></p>
        <p><font size="1">Verbatim copying and redistribution of photos and plots in the <em>assets/images</em> subdirectory is permitted under the <a rel="license" href="https://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivs license version 4.0</a> or later.</font><br></p>
        <p><font size="1">All source codes are licensed under the <a href="https://opensource.org/licenses/BSD-2-Clause">BSD 2-Clause License.</a></font><br></p>
        <hr>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/pages-themes/dinky">Dinky theme</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
